/* INICIO-APP.html */

/* INICIO-GENERAL */

#app__main {
    width: 100%;
    height: 800px;
}

#app__title__container {
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#app__cards__container {
    display: grid;
    width: 100%;
    height: 700px;
    grid-template-columns: 300px;
    grid-template-rows: 350px 350px;
    justify-content: center;

    #app__cards__center {
        display: grid;
        width: 100%;
        justify-content: center;
    }
}

.app__card__img {
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 2px;
    right: 1px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.app__button__link {
    color: black;
    text-decoration: none;
}

/* FIN-GENERAL */

/* INICIO-iOS */

#app__card__ios {
    display: grid;
    border: solid 2px black;
    border-radius: 6px;
    margin-bottom: 18px;
    grid-template-columns: 300px;
    grid-template-rows: 200px 70px 80px;

        #app__card__ios__text__container {
            display: flex;
            margin-top: 6px;
            justify-content: center;
        }
        
            #app__card__ios__text {
                font-size: 26px;
                font-weight: bold;
            }
}

#app__button__ios__container {
    display: flex;
    justify-content: center;


    #app__button__ios {
        display: flex;
        width: 120px;
        height: 32px;
        font-size: 20px;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
    }
}

/* FIN-iOS */

/* INICIO-ANDROID */

#app__card__android {
    display: grid;
    border: solid 2px black;
    border-radius: 6px;
    margin-bottom: 18px;
    grid-template-columns: 300px;
    grid-template-rows: 200px 70px 80px;

        #app__card__android__text__container {
            display: flex;
            margin-top: 6px;
            justify-content: center;
        }
        
            #app__card__android__text {
                font-size: 26px;
                font-weight: bold;
            }
}

#app__button__android__container {
    display: flex;
    justify-content: center;

        #app__button__android {
            display: flex;
            width: 120px;
            height: 32px;
            font-size: 20px;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
        }
}

/* FIN-ANDROID */

/* AUMENTO DE TAMAÑOS */

@media (min-width: 768px) {

    #app__main {
        width: 100%;
        height: 440px;
    }
    
    #app__cards__container {
        width: 100%;
        height: 350px;
        grid-template-columns: 310px 310px;
        grid-template-rows: 350px;
    }

    #app__card__android {
        margin: 10px;
        grid-template-columns: 290px;
        grid-template-rows: 200px 70px 80px;
    }

    #app__card__ios {
        margin: 10px;
        grid-template-columns: 290px;
        grid-template-rows: 200px 70px 80px;
    }

    #app__button__android {
        width: 110px;
        height: 32px;
        font-size: 18px;
        background-color: azure;

        &:hover {
            transition: 1.5s;
            transform: scale(1.2,1.2);
        }
    }

    #app__button__ios {
        width: 110px;
        height: 32px;
        font-size: 18px;
        background-color: azure;

        &:hover {
            transition: 1.5s;
            transform: scale(1.2,1.2);
        }
    }
}

@media (min-width: 1400px) {

    #app__main {
        width: 100%;
        height: 540px;
    }
    
    #app__cards__container {
        width: 100%;
        height: 420px;
        grid-template-columns: 390px 390px;
        grid-template-rows: 420px;

            #app__card__android {
                margin: 10px;
                grid-template-columns: 370px;
                grid-template-rows: 260px 80px 80px;
            }
    }

    .app__card__img {
        width: 100%;
        height: 260px;
        position: relative;
        bottom: 2px;
        right: 1px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    #app__card__ios {
        margin: 10px;
        grid-template-columns: 370px;
        grid-template-rows: 260px 80px 80px;
    }
    
    #app__button__android {
        width: 140px;
        height: 38px;
        font-size: 22px;
    }

    #app__button__ios {
        width: 140px;
        height: 38px;
        font-size: 22px;
    }
}

/* AUMENTO DE TAMAÑOS */

/* FIN-APP.html */