/* GLOBALES */

@import "global";

@import "header";

@import "footer";

/* GLOBALES */

/* PÁGINAS */

@import "index";

@import "app";

@import "empleo";

/* PÁGINAS */

/* INICIO-PRODUCTOS.html */



/* FIN-PRODUCTOS.html */


/* INICIO-CONTACTO.html */

#contact__text__container {
    display: grid;
    width: 100%;
    height: 250px;
    justify-content: center;
    grid-template-columns: 90%;
    grid-template-rows: 55px 200px;
    margin-top: 10px;

    .contact__text--center {
        display: grid;
        justify-content: center;
        width: 100%;
    }
}

#contact__title__text {
    font-size: 37px;
    font-weight: 500;
}

#contact__subtitle {
    display: grid;
    justify-content: center;

    #contact__subtitle__text {
        text-align: center;
    }
}

/* FIN-CONTACTO.html */