/* GENERAL */

* {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* GENERAL */


/* HEADER */

/* VISTA-MOBILE */



/* VISTA-MOBILE */


/* VISTA-PC-TABLET */



/* VISTA-PC-TABLET */

/* HEADER */


/* INDEX.html */

/* VISTA-MOBILE */

    #main-img__mobile {
        width: 0%;
    }

@media (min-width: 320px) and (max-width: 767.9px) {
    #main-img__mobile {
        width: 100%;
    }
}

/* VISTA-MOBILE */


/* VISTA-PC-TABLET */

    #main {
        display: grid;
        
    }

    #main-img__pc {
        width: 0%;
    }

@media (min-width: 768px) {
    #main-img__pc {
        width: 100%;
    }
}

/* VISTA-PC-TABLET */

/* INDEX.html */


/* APP.html */

/* VISTA-MOBILE */

    #app__main__container {
        display: grid;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #app__title {
        display: grid;
        justify-content: center;
        margin: 40px;
    }

    .app__items {
        height: 500px;
        width: 480px;

        border: solid black 2.5px;
        border-radius: 8px;
    
        grid-template-columns: 480px;
        grid-template-rows: 500px 500px;
    }

    #app__item__2 {
        margin-top: 70px;
    }

/* VISTA-MOBILE */


/* VISTA-TABLET */

@media (min-width: 768px) and (max-width: 1024px) {

    #app__main__container {
        display: grid;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #app__title {
        display: grid;
        justify-content: center;
        margin: 40px;
    }

    .app__items {
        height: 500px;
        width: 480px;

        border: solid black 2.5px;
        border-radius: 8px;
    
        grid-template-columns: 480px;
        grid-template-rows: 500px 500px;
    }

    #app__item__2 {
        margin-top: 70px;
    }

}

/* VISTA-TABLET */


/* VISTA-PC */

@media (min-width: 1024px) and (max-width: 1200px) {

    #app__main__container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #app__title {
        display: flex;
        justify-content: center;
        margin: 40px;
    }

    .app__items {
        height: 450px;
        width: 430px;

        border: solid black 2.5px;
        border-radius: 8px;

        margin-left: 35px;
        margin-right: 35px;
    }

}

@media (min-width: 1200px) {

    #app__main__container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    #app__title {
        display: flex;
        justify-content: center;
        margin: 40px;
    }
    
    .app__items {
        height: 500px;
        width: 480px;
    
        border: solid black 2.5px;
        border-radius: 8px;
    
        margin-left: 45px;
        margin-right: 45px;
    }
    
}

/* VISTA-PC */

/* APP.html */